pre, p {
    font-size: 1.5em;
    color: white;
    background-color: transparent;
}

div {
  background-image: url("https://creatusmanualidades.es/1832/hoja-fieltro-color-verde-oscuro-1-mm-.jpg");
  
}

p {
  background-image: none;
}

.catsandstars {
  background-image:  url("http://www.colores.org.es/imagenes_colores/verde-pastel-oscuro.jpg"), 
                     url("https://mdn.mozillademos.org/files/7693/catfront.png");
  background-color: transparent;
}
